extends ./layout.jade

block title
  title Contact Us

block content
  .panel.panel-success.section
    .panel-heading
      h1 Contact us!
    .panel-body
      a(href="https://www.facebook.com/amcisanusntu?fref=ts").btn.btn-primary.btn-lg ACMISA Facebook Page
      br
      iframe.section(
        src="https://docs.google.com/forms/d/1Gwf8Tp1YtzajTH97XlgCtjEjKZKKT93xpTIfaxGeYVM/viewform?embedded=true"
        width="760"
        height="800"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        ) Loading...